<div mat-dialog-content>
  <img [src]="product.image_url">

  <div>
    <p *ngIf="!editMode">Name: {{product.name}}</p>
    <mat-form-field *ngIf="editMode">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="newName">
    </mat-form-field>
  </div>

  <div>
    <p *ngIf="!editMode">Price: ${{product.price}}</p>
    <mat-form-field *ngIf="editMode">
      <mat-label>Price</mat-label>
      <input matInput [formControl]="newPrice">
    </mat-form-field>
  </div>

  <p>Description: {{product.description}}</p>
  <mat-chip>{{product.category}}</mat-chip>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="onClose()">Close</button>
  <button mat-stroked-button (click)="toggleEditMode()">{{editMode ? 'View' : 'Edit'}}</button>
  <button *ngIf="editMode" mat-stroked-button (click)="saveChanges()">Save Changes</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>